@using Pass.Container.Core.Entities
@model Pass.Distribution.Web.Models.PassModel

@{
    ViewBag.Title = "PassView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="content">
    <div class="decoration"></div>
    <div class="container-nobottom">
        <p>Please enter your details to add this pass to your phone</p>    
    </div>
    
    @using (Html.BeginForm("Update", "Pass", new{token = Model.PassToken}, FormMethod.Post))
    {
        if (Model.PassFields != null && Model.PassFields.Any())
        {
            <div class="container">
                @foreach (PassFieldInfo fieldInfo in Model.PassFields)
                {
                    <div class="formFieldWrap">
                        @Html.Label(fieldInfo.Name, fieldInfo.Label, new {@class = "field-title"})
                        @Html.TextBox(fieldInfo.Name, fieldInfo.Value, new {@class = "passField"})
                    </div>
                }
            </div>
        }

        <div class="decoration"></div>
        <div class="container-nobottom">
            <p>If you want to install this pass on multiple devices, or want to be able to reinstall it in the event of accidential deletion or loss, please enter a valid email address below</p>
            <div class="formFieldWrap">
                @Html.LabelFor(model => model.Email, "Pass Recovery Email Address:", new {@class = "field-title"})
                @Html.TextBoxFor(model => model.Email, new {@class = "passField"})
            </div>
        </div>
        <div>
            <div style="text-align: center">
                @if (Request.Browser.IsMobileDevice)
                {
                    <input type="image" src="@Url.Content("~/Content/images/Add_to_Passbook_Badge_120x40_US_UK.png")" alt="Submit"/>
                }
                else
                {
                    <input type="submit" class="passSubmit" value="Create Passbook Pass"/>
                }
            </div>
        </div>
    }
</div>
