@model PassContentTemplateViewModel
       
@Html.HiddenForExt(m => m.PassContentTemplateId)
@Html.HiddenForExt(m => m.PassProjectId)

@if (!Model.IsNew)
{
    <div class="row text-right action-block">
        @if (!Model.PassContainerTemplateId.HasValue)
        {
            @(Html.ActionLinkAjaxExt<PassTemplateOnlineController>(a => a.Register(0), Resources.RegisterOnlineLink, Resources.RegisterTemplateOnlineConformation, new { id = Model.PassContentTemplateId }))
        }
        else
        {
            @(Html.ActionLinkExt<PassTemplateOnlineController>(a => a.Update(0), "Update", new { id = Model.PassContentTemplateId }))
            @(Html.ActionLinkExt<PassTemplateOnlineController>(a => a.Download(0), "Download", new { id = Model.PassContentTemplateId }))
        }
    </div>
}

<fieldset>
    <legend></legend>
    <div class="row">
        <div class="col-md-6">
            @if (!Model.IsNew)
            {
                @Html.TextBlockFormForExt(m => m.PassContentTemplateId, "ID");
            }
            @Html.TextBoxFormForExt(m => m.Name)
            @Html.TextAreaFormForExt(m => m.Description)
            @Html.TextBoxFormForExt(m => m.OrganizationName, "Organization Name")
            @Html.CheckBoxFormForEx(m => m.IsDefault, "Is Default")
        </div>
        <div class="col-md-6">
            @Html.DropDownListFormForExt(m => m.PassStyle, "Pass Style", "- Select Pass Style -")
            @Html.DropDownListFormForExt(m => m.TransitType, "Transit Type", "- Select Transit Type -")
            @Html.TextBoxFormForExt(m => m.MaxDistance, "Max Distance")
            @Html.DatePickerFormForExt(m => m.RelevantDate, "Relevant Date")

            @Html.TextBoxFormForExt(m => m.LogoText, "Logo Text")
            @Html.CheckBoxFormForEx(m => m.SuppressStripShine, "Suppress Strip Shine")
        </div>
    </div>
</fieldset>

@if (!Model.IsNew)
{
    <div class="row">
        @(Html.TabStrip()
              .Name("templateTabs")
              .Items(tab =>
                     {
                         tab.Add().Text("Fields").LoadContentFrom(Url.Action("TabFields", new {id = Model.PassContentTemplateId})).Selected(true);
                         tab.Add().Text("Images").LoadContentFrom(Url.Action("TabImages", new { id = Model.PassContentTemplateId }));
                         tab.Add().Text("Beacons").LoadContentFrom(Url.Action("TabBeacons", new { id = Model.PassContentTemplateId }));
                         tab.Add().Text("Locations").LoadContentFrom(Url.Action("TabLocations", new {id = Model.PassContentTemplateId}));
                     }
              ))
    </div>
}
