@model PassContentTemplateViewModel
       
@Html.HiddenForExt(m => m.PassContentTemplateId)
@Html.HiddenForExt(m => m.PassProjectId)

@if (!Model.IsNew)
{
    <div class="row text-right action-block">
        @if (!Model.PassContainerTemplateId.HasValue)
        {
            @(Html.ActionLinkAjaxExt<PassTemplateOnlineController>(a => a.Register(0), Resources.RegisterOnlineLink, Resources.RegisterTemplateOnlineConformation,
                    new { id = Model.PassContentTemplateId }, new {id = "lnkRegister"}, new AjaxActionOptions() { OnSuccess = "OnRegisterTemplateSuccess" }))

            @(Html.ActionLinkAjaxExt<PassTemplateOnlineController>(a => a.Update(0), Resources.Update, Resources.UpdateTemplateOnlineConformation, 
                    new { id = Model.PassContentTemplateId }, new { id = "lnkUpdate", style = "display:none" }))
            @(Html.ActionLinkExt<PassTemplateOnlineController>(a => a.Download(0), Resources.Download, new { id = Model.PassContentTemplateId }, new { id = "lnkDownload", style = "display:none" }))
        }
        else
        {
            @(Html.ActionLinkAjaxExt<PassTemplateOnlineController>(a => a.Update(0), Resources.Update, Resources.UpdateTemplateOnlineConformation,
                    new { id = Model.PassContentTemplateId }, new { id = "lnkUpdate" }))
            @(Html.ActionLinkExt<PassTemplateOnlineController>(a => a.Download(0), Resources.Download, new { id = Model.PassContentTemplateId }, new { id = "lnkDownload" }))
        }
    </div>
}

<fieldset>
    <legend></legend>
    <div class="row">
        <div class="col-md-6">
            @Html.TextBoxFormForExt(m => m.Name)
            @Html.TextAreaFormForExt(m => m.Description)
            @Html.TextBoxFormForExt(m => m.OrganizationName, "Organization Name")
            @Html.CheckBoxFormForEx(m => m.IsDefault, "Is Default")
            <div id="divContainerTemplateId" style="display:@(Model.PassContainerTemplateId.HasValue ? "block" : "none")">
                @Html.TextBlockFormForExt(m => m.PassContainerTemplateId, "Online Template ID")
            </div>
            @Html.ColorPickerFormForExt(m => m.ForegroundColor, "Foreground Color")
            @Html.ColorPickerFormForExt(m => m.LabelColor, "Label Color")
        </div>
        <div class="col-md-6">
            @Html.DropDownListFormForExt(m => m.PassStyle, "Pass Style", "- Select Pass Style -")
            @Html.DropDownListFormForExt(m => m.TransitType, "Transit Type", "- Select Transit Type -")
            @Html.TextBoxFormForExt(m => m.MaxDistance, "Max Distance")
            @Html.DatePickerFormForExt(m => m.RelevantDate, "Relevant Date")

            @Html.TextBoxFormForExt(m => m.LogoText, "Logo Text")
            @Html.CheckBoxFormForEx(m => m.SuppressStripShine, "Suppress Strip Shine")
            @Html.ColorPickerFormForExt(m => m.BackgroundColor, "Background Color")
        </div>
    </div>
</fieldset>


@if (!Model.IsNew)
{
    <div class="row">
        @(Html.TabStrip()
              .Name("templateTabs")
              .Items(tab =>
                     {
                         tab.Add().Text("Fields").LoadContentFrom(Url.Action("TabFields", new {id = Model.PassContentTemplateId})).Selected(true);
                         tab.Add().Text("Images").LoadContentFrom(Url.Action("TabImages", new { id = Model.PassContentTemplateId }));
                         tab.Add().Text("Beacons").LoadContentFrom(Url.Action("TabBeacons", new { id = Model.PassContentTemplateId }));
                         tab.Add().Text("Locations").LoadContentFrom(Url.Action("TabLocations", new {id = Model.PassContentTemplateId}));
                     }
              ))
    </div>
}

<script type="text/javascript">
    function OnRegisterTemplateSuccess(data) {
        $("#lnkRegister").hide();
        $("#lnkUpdate").show();
        $("#lnkDownload").show();

        $("#PassContainerTemplateId").val(data.containerTemplateId);
        $("#divContainerTemplateId").show();
    }
</script>