@model UserViewModel
           
@Html.HiddenForExt(m => m.UserId)
@if (!Model.IsNew)
{
    Html.TextBlockFormForExt(m => m.UserId, "ID");
}
@Html.TextBoxFormForExt(m => m.UserName)
@Html.TextBoxFormForExt(m => m.FirstName)
@Html.TextBoxFormForExt(m => m.LastName)

@if (!Model.IsNew)
{
    <div class="col-sm-offset-3 col-md-offset-2">
        @Html.ActionLinkExt("Change password", "ChangePassword", "User", new { id = Model.UserId })
    </div>
}