@model PassContentViewModel

@Html.HiddenForExt(m => m.PassContentId)

@if (!Model.IsNew)
{
    <div class="row text-right action-block">
        @if (!Model.ContainerPassId.HasValue)
        {
            @(Html.ActionLinkAjaxExt<PassOnlineController>(a => a.Register(0), Resources.RegisterOnlineLink, Resources.RegisterPassOnlineConformation,
                      new { id = Model.PassContentId }, new { id = "lnkRegister" }, new AjaxActionOptions() { OnSuccess = "OnRegisterPassSuccess" }))

            @(Html.ActionLinkAjaxExt<PassOnlineController>(a => a.Update(0), Resources.Update, Resources.UpdatePassOnlineConformation,
                    new { id = Model.PassContentId }, new { id = "lnkUpdate", style = "display:none" }))
            @(Html.ActionLinkExt<PassOnlineController>(a => a.Download(0), Resources.Download, new { id = Model.PassContentId }, new { id = "lnkDownload", style = "display:none" }))
        }
        else
        {
            @(Html.ActionLinkAjaxExt<PassOnlineController>(a => a.Update(0), Resources.Update, Resources.UpdatePassOnlineConformation,
                    new { id = Model.PassContentId }, new { id = "lnkUpdate" }))
            @(Html.ActionLinkExt<PassOnlineController>(a => a.Download(0), Resources.Download, new { id = Model.PassContentId }, new { id = "lnkDownload" }))
        }
    </div>
}

<div class="row">
    <fieldset>
        <legend></legend>

        @if (Model.IsNew)
        {
            @Html.DropDownListFormForExt(m => m.PassContentTemplateId, Model.PassContentTemplates, "Pass Template", "- Select Pass Template -")
        }
        else
        {
            @Html.TextBlockFormForExt(m => m.PassContentId, "ID");
            @Html.TextBlockFormForExt(m => m.PassContentTemplateName, "Pass Template")
            @Html.TextBoxFormForExt(m => m.SerialNumber)
            @Html.TextBoxFormForExt(m => m.AuthToken)
        }
        
        @Html.DatePickerFormForExt(m => m.ExpDate, "Expiration Date")
        @if (!Model.IsNew)
        {
            @Html.CheckBoxFormForEx(m => m.IsVoided, "Voided")
        }
        <div id="divContainerPassId" style="display:@(Model.ContainerPassId.HasValue ? "block" : "none")">
            @Html.TextBlockFormForExt(m => m.ContainerPassId, "Online Pass ID")
        </div>
    </fieldset>
</div>

@if (!Model.IsNew)
{
    <div class="row">
        @(Html.TabStrip()
              .Name("passTabs")
              .Items(tab =>
                     {
                         tab.Add().Text("Fields").LoadContentFrom(Url.Action<PassContentController>(a => a.TabFields(0), new { id = Model.PassContentId })).Selected(true);
                         tab.Add().Text("Registrations").LoadContentFrom(Url.Action<PassContentController>(a => a.TabRegistrations(0), new { id = Model.PassContentId }));
                         //tab.Add().Text("Images").LoadContentFrom(Url.Action("TabImages", new { id = Model.PassContentTemplateId }));
                         //tab.Add().Text("Beacons").LoadContentFrom(Url.Action("TabBeacons", new { id = Model.PassContentTemplateId }));
                         //tab.Add().Text("Locations").LoadContentFrom(Url.Action("TabLocations", new { id = Model.PassContentTemplateId }));
                     }
              ))
    </div>
}

<script type="text/javascript">
    function OnRegisterPassSuccess(data) {
        $("#lnkRegister").hide();
        $("#lnkUpdate").show();
        $("#lnkDownload").show();

        $("#ContainerPassId").val(data.containerPassId);
        $("#divContainerPassId").show();
    }
</script>