@using Pass.Manager.Web.Areas.Site.Models
@model PassCertificateAppleViewModel

<script type="text/javascript" src="@Url.Content("~/Scripts/FormHelpers/PassCertificateHelper.js")"></script>

@Html.HiddenForExt(m => m.PassCertificateId)

<fieldset>
    <legend></legend>
    <div class="row">
        <div class="col-md-6">
            @if (!Model.IsNew)
            {
                Html.TextBlockFormForExt(m => m.PassCertificateId, "ID");
            }
            @Html.TextBoxFormForExt(m => m.Name)
            @Html.TextBoxFormForExt(m => m.TeamId)
            @Html.TextBoxFormForExt(m => m.PassTypeId)
            @Html.TextAreaFormForExt(m => m.Description)
        </div>
        <div class="col-md-6">
            @if (!Model.IsNew)
            {
                @Html.TextBlockFormForExt(m => m.ExpDate, Resources.ExpirationDate)
            }

            @Html.PasswordFormForExt(m => m.Password)
            @Html.HiddenForExt(m => m.CertificateStorageId)

            @(Model.CertificateFileName != null
                ? Html.FileUploadFormForEx(m => m.CertificateFile, "Certificate File", null, Model.CertificateFileName)
                  : Html.FileUploadFormForEx(m => m.CertificateFile, "Certificate File"))
            
            @Html.ActionLinkExt("Download certificate", "Download", "PassCertificate", new {id = Model.PassCertificateId}, new{@class = "downloadLink"})
        </div>
    </div>
</fieldset>

@(Html.Grid<PassSiteCertificateViewModel>()
    .Name("grdPassSites")
    .CssClass("pm-grid")
    .Pageable()
    .Sortable()
        .DataSource(ds => ds.Read(Url.Action<Pass.Manager.Web.Controllers.PassSiteCertificateController>(a => a.GridSearchView(null, null), new { Model.PassCertificateId }))/*.Data("window.PassCertificate.PassSiteDataHandler")*/)
    .Columns(c =>
                {
                    c.Bound(p => p.PassSiteId).Title("ID").Width("100px");
                    c.BoundLink(p => p.PassSiteName, Url.Action<PassSiteController>(a => a.Enter(0)), id => id.PassSiteId).Title(Resources.Name);
                    c.Bound(p => p.PassSiteDescription).Title(Resources.Description);
                }))

<script>
    @if (!Model.IsNew) {
        @:$(document).ready(function () {
            @:$('.form-group:has(div > input#Password)').css('display', 'none');
            @:$('#CertificateFile').change(function () {
                @:$('.form-group:has(div > input#Password)').css('display', 'block');
            @:});
        @:});
    }
</script>