@model PassCertificateAppleViewModel
           
@Html.HiddenForExt(m => m.PassCertificateId)
@if (!Model.IsNew)
{
    Html.TextBlockFormForExt(m => m.PassCertificateId, "ID");
}
@Html.TextBoxFormForExt(m => m.Name)
@Html.TextBoxFormForExt(m => m.TeamId)
@Html.TextBoxFormForExt(m => m.PassTypeId)
@Html.TextAreaFormForExt(m => m.Description)
@Html.TextBlockFormForExt(m => m.ExpDate, "Expiration Date")
@Html.TextBoxFormForExt(m => m.Password)
@Html.HiddenForExt(m => m.CertificateStorageId)

@if (Model.CertificateFileName != null)
{
    @Html.TextBlockFormForExt(m => m.CertificateFileName, "Certificate File");
}

<div class="form-group">
    <div class="col-md-offset-3 col-md-9">
        @Html.FileUploadEx("CertificateFile")
    </div>
</div>
    