<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



    <style>
        
    </style>
</head>
<body>
    <div>
        <div style="margin-right: auto; margin-left: auto; width: 100%; -moz-min-width: 640px; -ms-min-width: 640px; -o-min-width: 640px; -webkit-min-width: 640px; min-width: 640px; max-width: 1000px; text-align: left; min-height: 62px;">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header passlightLogoBlock">
                    <a href="~/Home/MainPage">
                        <img src="/Images/MainPage/PassLightLogo.png" class="passlightLogoImg">
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="menu navbar-collapse navbar-ex1-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        @*<li><a href="~/Home/MainPage" class="active">Главная</a></li>*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Стратегии
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" style="width: 175px;">
                                <li class="menuItem"><a href="~/Home/CouponsStrategy">Купоны</a></li>
                                @*<li class="menuItem"><a href="">Накопительная карта</a></li>*@
                                <li class="menuItem"><a href="~/Home/MembershipStrategy">Карты клиента</a></li>
                                <li class="menuItem"><a href="~/Home/StampStrategy">Штамп карты</a></li>
                                <li class="menuItem"><a href="~/Home/EventTicketsStrategy">Билеты на событие</a></li>
                                <li class="menuItem"><a href="~/Home/TransitTicketsStrategy">Билеты на проезд</a></li>
                                <li class="menuItem"><a href="~/Home/BusinessCardStrategy">Визитные карты</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Инструменты
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" style="width: 163px;">
                                <li class="menuItem">@Html.ActionLink("Дизайнер пассов", "EmptyCardDesigner", new { controller = "PassDesigner" }, new { target = "blank" })</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                        <li><a class="logInButton" href="~/Account/Login" target="_blank">Войти</a></li>
                    </ul>
                    
                </div>
                
            </nav>

            
        </div>
    </div>

    @*<div class="blueLine"></div>*@

    <div class="container body-content">
        @RenderBody()
    </div>

    @*<div class="blueLine"></div>*@
    @*<div style="height: 170px; margin-right: auto; margin-left: auto; width: 100%; text-align: center; background-color: #f2f4f8;">
            <br />

            <br />
            <p class="footer">2014 Passlight</p>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
