<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body>
    <header id="navbar" role="banner" class="container-fluid mainMenuBlock">
        <div class="container ">
            <div class="navbar-header passlightLogoBlock">
                <a class="navbar-btn pull-left" href="@Url.Action("MainPage", "Home")" title="Главная">
                    <img src="/Images/MainPage/passLightWhiteLogo.png" class="passlightLogoImg" alt="Главная">
                </a>

                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse navbar-right collapse menu">
                <nav class="navbar navbar-default" role="navigation">
                    <ul class="nav navbar-nav menuPanel1">
                        <li class="first active leaf"><a href="~/Home/MainPage" class="active">Главная</a></li>
                        <li class="leaf">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Стратегии
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="menuItem">@Html.ActionLink("Купоны", "CouponsStrategy", "Home")</li>
                                <li class="menuItem disabled">@Html.ActionLink("Карты клиента", "MembershipStrategy", "Home")</li>
                                <li class="menuItem disabled">@Html.ActionLink("Штамп карты", "StampStrategy", "Home")</li>
                                <li class="menuItem disabled">@Html.ActionLink("Билеты на событие", "EventTicketsStrategy", "Home")</li>
                                <li class="menuItem disabled">@Html.ActionLink("Билеты на проезд", "TransitTicketsStrategy", "Home")</li>
                                <li class="menuItem disabled">@Html.ActionLink("Визитные карты", "BusinessCardStrategy", "Home")</li>
                            </ul>
                        </li>
                        <li class="leaf">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Инструменты
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" style="width: 163px;">
                                <li class="menuItem">@Html.ActionLink("Дизайнер пассов", "EmptyCardDesigner", new { controller = "PassDesigner" }, new { target = "blank" })</li>
                            </ul>
                        </li>
                        <li class="leaf">@Html.ActionLink("Контакты", "Contact", "Home")</li>
                    </ul>

                    <ul class="nav navbar-nav menuPanel2">
                        <li class="logInButton">@Html.ActionLink("Войти", "Contact", "Home")</li>
                        <li class="registrationButton">@Html.ActionLink("Регистрация", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    
    <div class="footerContactBlock">
        <div class="container blockContent">
            <h3>Хотите оказаться в смартфонах своих клиентов</h3>
            <h3>или узнать больше информации?</h3>
            <h3>Свяжитесь с нами!</h3>
            <br />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <h4>
                        E-mail:
                        <img class="mailIcon" src="~/Images/MainPage/mailIcon.png" />
                    </h4>
                    <h2><a href="mailto:passlight@gmail.com" id="emailText" class="footerContactValue">info@passlight.com</a></h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <h4>
                        Телефон:
                        <img class="phonesIcon" src="~/Images/MainPage/pnonesIcon.png" />
                    </h4>
                    <h2><a href="tel:+375447242246" class="footerContactValue">+37544 724-22-46</a></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
