<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body>
    <div class="mainMenuBlock col-md-12">
        <div class="mainMenu  col-md-8 col-md-offset-2">
            <nav class="navbar navbar-default col-md-12" role="navigation">
                <div class="navbar-header passlightLogoBlock col-md-4">
                    <a href="~/Home/MainPage">
                        <img src="/Images/MainPage/passLightWhiteLogo.png" class="passlightLogoImg">
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="menu navbar-collapse navbar-ex1-collapse collapse col-md-8">
                    <ul class="nav navbar-nav navbar-right col-md-12">
                        <li><a href="~/Home/MainPage" class="active">Главная</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Стратегии
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" style="width: 175px;">
                                <li class="menuItem"><a href="~/Home/CouponsStrategy">Купоны</a></li>
                                @*<li class="menuItem"><a href="">Накопительная карта</a></li>*@
                                <li class="menuItem"><a href="~/Home/MembershipStrategy">Карты клиента</a></li>
                                <li class="menuItem"><a href="~/Home/StampStrategy">Штамп карты</a></li>
                                <li class="menuItem"><a href="~/Home/EventTicketsStrategy">Билеты на событие</a></li>
                                <li class="menuItem"><a href="~/Home/TransitTicketsStrategy">Билеты на проезд</a></li>
                                <li class="menuItem"><a href="~/Home/BusinessCardStrategy">Визитные карты</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Инструменты
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" style="width: 163px;">
                                <li class="menuItem">@Html.ActionLink("Дизайнер пассов", "EmptyCardDesigner", new { controller = "PassDesigner" }, new { target = "blank" })</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                        <li><a class="logInButton" href="~/Account/Login" target="_blank">Войти</a></li>
                    </ul>

                </div>

            </nav>


        </div>
    </div>

    @*<div class="blueLine"></div>*@

    <div class="container body-content">
        @RenderBody()
    </div>

    @*<div class="blueLine"></div>*@
    @*<div style="height: 170px; margin-right: auto; margin-left: auto; width: 100%; text-align: center; background-color: #f2f4f8;">
            <br />

            <br />
            <p class="footer">2014 Passlight</p>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
