@model PassSiteViewModel
           
@Html.HiddenForExt(m => m.PassSiteId)
@if (!Model.IsNew)
{
    @Html.TextBlockFormForExt(m => m.PassSiteId, "ID")
}
@Html.TextBoxFormForExt(m => m.Name)
@Html.TextAreaFormForExt(m => m.Description)

@if (!Model.IsNew)
{
    <div class="row">
        @(Html.TabStrip()
            .Name("siteTabs")
            .Items(tab =>
            {
                tab.Add().Text("Projects").LoadContentFrom(Url.Action("TabProjects", new{ id = Model.PassSiteId })).Selected(true);
                tab.Add().Text("Certificates").LoadContentFrom(Url.Action("TabCertificates", new { id = Model.PassSiteId }));
                tab.Add().Text("Users").LoadContentFrom(Url.Action("TabUsers", new { id = Model.PassSiteId }));
            }))
    </div>
}

<script type="text/javascript" src="@Url.Content("~/Scripts/FormHelpers/PassSiteHelper.js")"></script>

