@using Common.Web.Tab
@model PassProjectViewModel
       
@Html.HiddenForExt(m => m.PassProjectId)
@if (!Model.IsNew)
{
    Html.TextBlockFormForExt(m => m.PassProjectId, "ID");
}
@Html.TextBoxFormForExt(m => m.Name)
@Html.DropDownListFormForExt(m => m.ProjectType, "Project Type", "- Select Project Type -")
@Html.TextAreaFormForExt(m => m.Description)
@Html.HiddenForExt(m => m.PassTemplateId)
@Html.HiddenForExt(m => m.PassSiteId)

@if (!Model.IsNew)
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLinkExt("Pass Designer", "Edit", "PassDesigner", new {passProjectId = Model.PassProjectId})
        </div>    
    </div>

    <div class="row">
        @(Html.TabStrip()
            .Name("projectTabs")
            .Items(tab => tab.Add().Text("Pass Fields").LoadContentFrom(Url.Action("TabFields", new { id = Model.PassProjectId})).Selected(true)))
    </div>
    
}


