@model PassProjectViewModel
       
@Html.HiddenForExt(m => m.PassProjectId)
@if (!Model.IsNew)
{
    Html.TextBlockFormForExt(m => m.PassProjectId, "ID");
}
@Html.TextBoxFormForExt(m => m.Name)
@Html.DropDownListFormForExt(m => m.ProjectType, "Project Type", "- Select Project Type -")
@Html.TextAreaFormForExt(m => m.Description)
@Html.HiddenForExt(m => m.PassTemplateId)
@Html.HiddenForExt(m => m.PassSiteId)

@if (!Model.IsNew)
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLinkExt("Pass Designer", "Edit", "PassDesigner", new {passProjectId = Model.PassProjectId})
        </div>    
    </div>
}

<a id="undo" class="k-button">window1</a>
<a id="undo2" class="k-button">window2</a>

<div id="window"></div>

@(Html.PopupDialog()
    .Name("window2")
    .Width(600)
    .Height(400)
    .Title("My Title2")
    .Modal(true)
    .LoadContentFrom("http://www.telerik.com/"))


<script>
    $(document).ready(function() {

        $("#undo").click(function() {
            $("#window").data("kendoWindow").open();
            $("#window").data("kendoWindow").center();

        });

        $("#undo2").click(function () {
            $("#window2").data("kendoWindow").open();
            $("#window2").data("kendoWindow").center();

        });

        $("#window").kendoWindow({
            width: "600px",
            height: "400px",
            title: "My Title",
            visible: false,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ],
            modal: true,
            content: "http://www.telerik.com/"
        });

        /*
        $("#window2").kendoWindow({
            "title": "My Title2",
            "content": "http://www.telerik.com/",
            "width": 600,
            "height": 400,
            "visible": false,
            "draggable": true,
            "modal": true,
            "pinned": false,
            "autoFocus": true,
            "iframe": true,
            "resizable": true,
            "position": {
                "top": 0,
                "left": 0
            },
            "actions": [
                "Close"
            ]
        });
        */

    });

</script>


