@model PassProjectViewModel
       
@Html.HiddenForExt(m => m.PassProjectId)
@if (!Model.IsNew)
{
    Html.TextBlockFormForExt(m => m.PassProjectId, "ID");
}
@Html.TextBoxFormForExt(m => m.Name)
@Html.DropDownListFormForExt(m => m.ProjectType, "Project Type", "- Select Project Type -")
@Html.TextAreaFormForExt(m => m.Description)
@Html.HiddenForExt(m => m.PassTemplateId)
@Html.HiddenForExt(m => m.PassSiteId)

@if (!Model.IsNew)
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLinkExt("Pass Designer", "Edit", "PassDesigner", new {passProjectId = Model.PassProjectId})
        </div>    
    </div>
}

<a id="undo2" class="k-button" data-popup-window="window2">window2</a>
@*Html.ActionLinkExt("Add New Field", htmlAttributes: new { @class = "btn btn-default" })*@

@(Html.PopupDialog()
    .Name("window2")
    .Width(650)
    .Title("My Title2")
    .LoadContentFrom(Url.Action("CreateField", "PassProject", new { passProjectId = Model.PassProjectId }))
    //.Events(e => e.Success("OnSuccess1"))
)


<script>
    $(document).ready(function () {

    });
</script>


