@model PassProjectViewModel
       
@Html.HiddenForExt(m => m.PassProjectId)
@if (!Model.IsNew)
{
    Html.TextBlockFormForExt(m => m.PassProjectId, "ID");
}
@Html.TextBoxFormForExt(m => m.Name)
@Html.DropDownListFormForExt(m => m.ProjectType, "Project Type", "- Select Project Type -")
@Html.TextAreaFormForExt(m => m.Description)
@Html.HiddenForExt(m => m.PassTemplateId)
@Html.HiddenForExt(m => m.PassSiteId)

@if (!Model.IsNew)
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLinkExt("Pass Designer", "Edit", "PassDesigner", new {passProjectId = Model.PassProjectId})
        </div>    
    </div>
}

<a id="undo" class="k-button">window1</a>
<a id="undo2" class="k-button" data-popup-window="window2">window2</a>

<a class="btn btn-primary" data-toggle="modal" data-target="#myModal">Launch demo modal</a>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    This Modal title
                </h4>
            </div>
            <div class="modal-body">
                <div id="popupWindowContent1">
                    @{ Html.RenderAction("CreateField", "PassProject", new {passProjectId = Model.PassProjectId}); }
                </div>
            </div>
            <!--
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit changes</button>
            </div>
            -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

    <div id="window"></div>

    @(Html.PopupDialog()
    .Name("window2")
    .Width(600)
    //.Height(400)
    .Title("My Title2")
    .Modal(true)
    .LoadContentFrom(Url.Action("CreateField", "PassProject", new { passProjectId = Model.PassProjectId }))
            //.Events(e => e.Open("F2"))
    )


    <script>
        $(document).ready(function () {

            $("#undo").click(function () {
                $("#window").data("kendoWindow").open();
                $("#window").data("kendoWindow").center();
                //$("#window").data("kendoWindow").refresh({ url: "@Url.Action("TestWindiw", "PassProject")" });
                $("#window").data("kendoWindow").refresh({ url: "@Url.Action("TestWindiw2", "PassProject")" });

                $("#window").data("kendoWindow").content("123");
                //$("#window").data("kendoWindow").refresh();

            });

            $("#window").kendoWindow({
                width: "600px",
                height: "400px",
                title: "My Title",
                visible: false,
                actions: [
                    "Pin",
                    "Minimize",
                    "Maximize",
                    "Close"
                ],
                //open: F1,
                //modal: true
                //content: "http://www.telerik.com/"
            });

            /*
            $("#window2").kendoWindow({
                "title": "My Title2",
                "content": "http://www.telerik.com/",
                "width": 600,
                "height": 400,
                "visible": false,
                "draggable": true,
                "modal": true,
                "pinned": false,
                "autoFocus": true,
                "iframe": true,
                "resizable": true,
                "position": {
                    "top": 0,
                    "left": 0
                },
                "actions": [
                    "Close"
                ]
            });
            */

        });

        function F1() {
            alert(this.title());
        }

        function F2(sender) {
            alert(sender.title());
        }

    </script>


