@model PassProjectViewModel
       
@Html.HiddenForExt(m => m.PassProjectId)
@if (!Model.IsNew)
{
    Html.TextBlockFormForExt(m => m.PassProjectId, "ID");
}
@Html.TextBoxFormForExt(m => m.Name)
@Html.DropDownListFormForExt(m => m.ProjectType, "Project Type", "- Select Project Type -")
@Html.TextAreaFormForExt(m => m.Description)
@Html.HiddenForExt(m => m.PassTemplateId)
@Html.HiddenForExt(m => m.PassSiteId)

@if (!Model.IsNew)
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLinkExt("Pass Designer", "Edit", "PassDesigner", new {passProjectId = Model.PassProjectId})
        </div>    
    </div>
}

<span id="undo" class="k-button">Click here to open the window.</span>

<div id="window"></div>

<script>
    $(document).ready(function() {
        var window = $("#window"),
            undo = $("#undo").bind("click", function() {
                        window.data("kendoWindow").open();
                        window.data("kendoWindow").center();
                    });


        if (!window.data("kendoWindow")) {
            window.kendoWindow({
                width: "600px",
                height: "400px",
                title: "My Title",
                visible: false,
                animation: {
                    open: {
                        effects: "fade:in",
                        duration: 500
                    }
                },
                actions: [
                    "Pin",
                    "Minimize",
                    "Maximize",
                    "Close"
                ],
                modal: true
                //content: "http://www.telerik.com/"
            });
        }
    });
</script>


