@model PromoSitePass.Models.GeneralPassTemplate.GeneralPassTemplate

<div class="clearBlock"></div>
<br>

<!--Distribution collapse field 1-->
<div id="mainCollapsePanelDistributionContent">
    <div id="collapsePanelDistributionContent1">
        <div class="collapseLinkContent" style="width: 526px;">
            <input type="checkbox" name="checkboxDistribution1" id="checkboxDistribution1" class="checkboxCollapse" checked>
            <label for="checkboxDistribution1" class="checkboxCollapseLabel"></label>
            <a data-toggle="collapse" data-parent="#mainCollapsePanelDistributionContent" href="#collapseContentDistribution1">
                <p class="labelInput">
                    <span data-toggle="tooltip" title="Установите этот флажок, чтобы активировать ссылки на пасс">Тип ссылки<span class="spanRed">*</span></span>
                </p>
                <img src="~/Images/createCard/expand.png" class="expandImageCollapse" style="margin-left: 372px;" data-toggle="tooltip" title="Развернуть(свернуть) поле" />
            </a>
            <select id="distTypeSelect" class="form-control distributionSelect">
                <option selected="selected" value="public">Публичная</option>
                <option value="private">Приватная</option>
            </select>
        </div>
        <div id="collapseContentDistribution1" class="distributioncollapseContent collapse in">

            <!--Multiple installs checkbox-->
            <p class="pDistribution">
                <span data-toggle="tooltip" title="Вы можете настроить Ваш пасс так, чтобы один клиент мог установить его только один раз.
                      Эта функция не подходит для билетов, накопительных карт и карт клиента">Запретить множественную установку</span>
            </p>
            <input type="checkbox" name="checkboxRelativeDataDistribution1" id="checkboxRelativeDataDistribution1" class="checkboxCollapse">
            <label for="checkboxRelativeDataDistribution1" class="checkboxCollapseLabel" style="float: left;"></label>
            <p class="pDistributionCheckbox">
                <span>1 пасс на одного клиента</span>
            </p>
            <br>

            <!--Void Passes checkbox-->
            <p class="pDistribution">
                <span data-toggle="tooltip" title="При выборе этой функции все пассы будут поставляться с серыми штрихкодами и с
                      сообщением об истечении срока действия пасса. Влияет на пассы только на IOS7">Пассы недействительны</span>
            </p>
            <input type="checkbox" name="voidedCheckbox" id="voidedCheckbox" class="checkboxCollapse">
            <label for="voidedCheckbox" class="checkboxCollapseLabel" style="float: left;"></label>
            <p class="pDistributionCheckbox">
                <span>Срок действия пассов истёк</span>
            </p>
            <br>
            
            <!--Auto expire passes date time picker-->
            <p class="pDistribution">
                <span data-toggle="tooltip" title="После того, как срок действия пасса истёк, штрих-код на нём станет серым, 
                      и сообщение об истечении действия пасса появится под штрих-кодом. Обратите внимание, что так произойдёт только на смартфонах с IOS 7.">Действие пасса истекает после</span>
            </p>
            <input id="autoExpireInput" class="form-control distributionContentSelect" placeholder="Необязательное" value="@Model.DistributionDetails.ExpirationDate" onclick="ShowDateTimePicker(id);" />
            <br/>

            <!--Quantity restriction select-->
            <p class="pDistribution">
                <span data-toggle="tooltip" title="Измените, если хотите ограничить количество пассов">Ограничение количества пассов<span class="spanRed">*</span></span>
            </p>
            <select id="distQuantitySelect" name="dn" class="form-control distributionContentSelect" onchange="DisplayDistQuantityInput(value)">
                <option selected="selected" value="0">Неограниченное количество</option>
                <option value="1">Ограниченное количество</option>
            </select>
            <br />

            <!--Quantity restriction input-->
            <div id="divDistQuantityInput" style="display: none;">
                <p class="pDistribution">
                    <span data-toggle="tooltip" title="Введите количество пассов для распространения">Остановить выдачу пассов после<span class="spanRed">*</span></span>
                </p>
                <input id="distQuantityInput" class="form-control distributionContentSelect" value="@Model.DistributionDetails.QuantityRestriction" maxlength="10" placeholder="Обязательное" />
                <br />
            </div>

            <!--Date restriction select-->
            <p class="pDistribution">
                <span data-toggle="tooltip" title="Измените, если хотите ограничить доступность пассов">Дата окончания раздачи<span class="spanRed">*</span></span>
            </p>
            <select id="distDateRestrSelect" name=" dd" class="form-control distributionContentSelect" onchange="DisplayDistDateRestrInput(value)">
                <option selected="selected" value="0">Пасс доступен постоянно</option>
                <option value="1">Пасс недоступен после даты</option>
            </select>
            <br />

            <!--Date restriction input-->
            <div id="divDistDateRestrInput" style="display: none;">
                <p class="pDistribution">
                    <span data-toggle="tooltip" title="Введите дату и время после которых пассы не будут выдаваться. Это поле использует часовой пояс, который может быть установлен в разделе &laquo;Настройки&raquo;">Остановить выдачу пассов после<span class="spanRed">*</span></span>
                </p>
                <input id="distDateRestrInput" class="form-control distributionContentSelect" value="@Model.DistributionDetails.DateRestriction" maxlength="30" placeholder="Обязательное" onclick="ShowDateTimePicker(id);" />
                <br />
            </div>

            <!--Need password to issue select-->
            <p class="pDistribution">
                <span data-toggle="tooltip" title="Измените, если хотите ограничить доступность пассов, создавая страницы с паролем">Требуемый пароль для выдачи<span class="spanRed">*</span></span>
            </p>
            <select id="distPasswdSelect" name="dp" class="form-control distributionContentSelect" onchange="DisplayDistIssuePasswdInput(value)">
                <option selected="selected" value="0">Пароль не требуется</option>
                <option value="1">Фиксированный пароль</option>
                <option value="2" disabled="disabled">Одноразовый пароль</option>
            </select>
            <br />

            <!--Issue password input-->
            <div id="divDistIssuePasswdInput" style="display: none;">
                <p class="pDistribution">
                    <span data-toggle="tooltip" title="Введите пароль, который будет предоставляться перед выдачей пасса">Пароль для выдачи<span class="spanRed">*</span></span>
                </p>
                <input id="distIssuePasswdInput" class="form-control distributionContentSelect" value="@Model.DistributionDetails.PasswordToIssue" maxlength="30" placeholder="Обязательное" />
                <br />
            </div>

            <!--Need password to update select-->
            <p class="pDistribution">
                <span data-toggle="tooltip" title="Измените, если хотите ограничить обновления страницы пассов с помощью пароля">Требуемый пароль для обновления<span class="spanRed">*</span></span>
            </p>
            <select id="distPasswdUpdSelect" name="edp" class="form-control distributionContentSelect" onchange="DisplayDistUpdatePasswdInput(value)">
                <option selected="selected" value="0">Пароль не требуется</option>
                <option value="1">Фиксированный пароль</option>
            </select>
            <br />

            <!--Update password input-->
            <div id="divDistUpdatePasswdInput" style="display: none;">
                <p class="pDistribution">
                    <span data-toggle="tooltip" title="Введите пароль, который будет предоставляться перед обновлением пасса">Пароль для обновлления<span class="spanRed">*</span></span>
                </p>
                <input id="distUpdatePasswdInput" class="form-control distributionContentSelect" value="@Model.DistributionDetails.PasswordToUpdate" maxlength="30" placeholder="Обязательное" />
                <br />
            </div>

            <!--SocialSharing checkbox-->
            <p class="pDistribution">
                <span data-toggle="tooltip" title="Enable the sharing sidebar on the pass. is distribution page.">Social Sharing</span>
            </p>
            <input type="checkbox" name="checkboxSocialSharingDistribution2" id="checkboxSocialSharingDistribution2" class="checkboxCollapse" checked>
            <label for="checkboxSocialSharingDistribution2" class="checkboxCollapseLabel" style="float: left;"></label>
            <p class="pDistributionCheckbox">
                <span>Enable social side panel</span>
            </p>
            <br>
            <br>
            <div style="color: #DBDBDB;">---------------------------------------------------------------------------------------------------------</div>
            <div class="explanations">
                Этот пасс не был сохранен. Пожалуйста, сохраните пасс для генерации ссылки для распространения.
            </div>
        </div>
    </div>
</div>