<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/content/kendo")
    @Styles.Render("~/content/css")
    @Styles.Render("~/content/ctrlext")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ctrlext")
    @*Scripts.Render("~/bundles/moment")*@

</head>

<body>
    <header id="navbar" role="banner" class="container-fluid mainMenuBlock">
        <div class="container">
            <div class="navbar-header passlightLogoBlock">
                <a class="navbar-btn pull-left" href="@(Url.Action<HomeController>(a => a.Index(), new { area = "" }))" title="@Resources.Home">
                    <img src="@Url.Content("~/Images/passLightWhiteLogo.png")" class="passlightLogoImg" alt="@Resources.Home">
                </a>
                
                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse menu">
                <nav class="navbar navbar-default" role="navigation">
                    <ul class="nav navbar-nav menuPanel1">
                        <li>@(Html.ActionLinkExt<PassSiteController>(c => c.Index(), Resources.Sites, new {area = ""}))</li>
                        <li>@(Html.ActionLinkExt<UserController>(c => c.Index(), Resources.Configuration, new { area = "" }))</li>
                    </ul>

                    @if (AuthUserContext.IsAuthenticated)
                    {
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    @AuthUserContext.UserName
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@(Html.ActionLinkExt<UserController>(a => a.EditProfile(""), Resources.MyProfile, new { area = "", userName = User.Identity.Name }))</li>
                                    <li>@(Html.ActionLinkExt<AccountController>(a => a.LogOff(), Resources.LogOff, new { area = "" }))</li>
                                </ul>
                            </li>
                        </ul>
                    }
                </nav>
            </div>
        </div>

    </header>

    @if (Request.UserLanguages != null && Request.UserLanguages.Any())
    {
        <script type="text/javascript">
            kendo.culture("@Request.UserLanguages[0]");
        </script>
    }
    
    
    @if (Html.IsLeftMenu(Server.MapPath(@"~\App_Data\LeftMenu.xml")))
    {
        <div class="body-content">
            <div class="well">
                @RenderBody()
            </div>
            
        </div>
    }
    else
    {
        <div class="container body-content">
            <div class="well">
                @RenderBody()
            </div>
        </div>
    }

    @Scripts.Render("~/bundles/app")
    @RenderSection("Scripts", false)

</body>
</html>
