@model BaseViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    @RenderSection("Title")
</h3>
@using (Html.BeginFormExt(htmlAttributes: (object)ViewBag.HtmlFormAttributes))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.HiddenForExt(m => m.RedirectUrl)
    <div class="container-fluid">
        @RenderBody()
        <div class="form-group">
            @RenderSection("Actions")
        </div>
    </div>
}

@section Scripts
{
    @RenderSection("Scripts", false)

    <script type="text/javascript">
        $(document).ready(function () {
            window.action.InitForm($("form"));
        })
    </script>    
}
