@using (Ajax.BeginForm(null, null, null, new AjaxOptions() { UpdateTargetId = "popupWindowContent", OnSuccess = "window.PopupWindow.ajaxOnSuccess" }, new { id = "popupWindowForm", @class = "form-horizontal" }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <div class="container-fluid">

        @RenderBody()

        <div class="form-group">
            @if (IsSectionDefined("Actions"))
            {
                @RenderSection("Actions")
            }
            else
            {
                @Html.FormActionSubmit("btnCreate", "Apply")
                @Html.FormActionButton("btnCancel", "Cancel", string.Empty)
            }
        </div>

    </div>
}