
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Create @Model.DisplayName</h3>
@Html.ValidationSummary()
@using (Html.BeginFormExt())
{
    @Html.AntiForgeryToken()
    <div class="container">
        @RenderBody()
        <div class="form-group">
            <button type="submit" class="btn btn-default btn-primary">Create</button>
            @Html.ActionLinkExt("Cancel", "Index", htmlAttributes: new { @class = "btn btn-default" })
        </div>
    </div>
}
