@using (Html.BeginFormExt(null, null, new { id="popupWindowForm" }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        @RenderBody()
        <div class="form-group">
            @if (IsSectionDefined("Actions"))
            {
                @RenderSection("Actions")
            }
            else
            {
                @Html.FormActionSubmit("btnApply", "Save")
                @Html.FormActionButton("btnCancel", "Cancel")
            }
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        window.action.InitForm($("#popupWindowForm"));

        $("#popupWindowForm").ajaxForm({
            target: "#popupWindowContent",
            success: window.PopupWindow.ajaxOnSuccess
        });
    })
</script>
