<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables")
</head>
<body>
    <div class="container body-content">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-11 col-md-12">
                    @(Html.ActionLinkExt<UserController>(c => c.Create(VirtualPath), "Create User"))
                    @(Html.ActionLinkExt<AccountController>(c => c.LogOff(), "Log Off"))
                </div>
            </div>
        </div>

        @RenderBody()
    </div>

    @RenderSection("Scripts", false)
</body>
</html>
