<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/kendo")
    @Styles.Render("~/content/css")
    @RenderSection("CssLinks", false)

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/jqueryval")
    @*Scripts.Render("~/bundles/moment")*@

</head>

<body>
    <header id="navbar" role="banner" class="container-fluid mainMenuBlock">
        <div class="container">
            <div class="navbar-header passlightLogoBlock">
                <a class="navbar-btn pull-left" href="@Url.Action("Index", "Home")" title="Главная">
                    <img src="/Images/passLightWhiteLogo.png" class="passlightLogoImg" alt="Главная">
                </a>

                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse menu">
                <nav class="navbar navbar-default" role="navigation">
                    <ul class="nav navbar-nav menuPanel1">
                        <li>@(Html.ActionLinkExt<PassSiteController>(c => c.Index(), "Сайты"))</li>
                        <li>@(Html.ActionLinkExt<UserController>(c => c.Index(), "Пользователи"))</li>
                        <li>@(Html.ActionLinkExt<PassCertificateController>(c => c.Index(), "Сертификаты"))</li>
                    </ul>

                    @if (User.Identity.IsAuthenticated)
                    {

                                    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Добро пожаловать, @User.Identity.Name!
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLinkExt("Мой аккаунт", "EditProfile", "User", new { userName = User.Identity.Name })</li>
                <li>@Html.ActionLinkExt("Выйти", "LogOff", "Account")</li>
            </ul>
        </li>
    </ul>
                    }
                    else
                    {
                            <ul class="nav navbar-nav navbar-right">
                                <li class="logInButton">@Html.ActionLinkExt("Войти", "Login", "Account")</li>
                                <li class="registrationButton">@Html.ActionLinkExt("Регистрация", "Login", "Account")</li>
                            </ul>
                    }



                </nav>
            </div>


        </div>
    </header>





    @*<div class="navbar navbar-default navbar-fixed-top">
            <div class="row">
                <div class="col-md-3">
                    <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Images/PassLightLogo.png")" width="150" height="40" /></a>
                </div>

                <div class="col-md-offset-6 col-md-3">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <nav>
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, @User.Identity.Name</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>@Html.ActionLinkExt("My Account", "EditProfile", "User", new { userName = User.Identity.Name })</li>
                                            <li>@Html.ActionLinkExt("Logout", "LogOff", "Account")</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    }
                    else
                    {
                        <div class="col-md-offset-10 col-md-2">
                            @Html.ActionLinkExt("Login", "Login", "Account")
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li>@(Html.ActionLinkExt<PassSiteController>(c => c.Index(), "Sites"))</li>
                            <li>@(Html.ActionLinkExt<UserController>(c => c.Index(), "Users"))</li>
                            <li>@(Html.ActionLinkExt<PassCertificateController>(c => c.Index(), "Certificates"))</li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>*@

    <div class="container body-content">
        <div class="well">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/app")

    @RenderSection("Scripts", false)
</body>
</html>
