@model PassProjectViewModel

@Html.HiddenForExt(m => m.PassSiteId)       
@Html.HiddenForExt(m => m.PassProjectId)

<div class="row">
    <div class="col-md-6">
        @Html.TextBoxFormForExt(m => m.Name)
        @Html.TextAreaFormForExt(m => m.Description)
    </div>
    <div class="col-md-6">
        @Html.DropDownListFormForExt(m => m.PassCertificateId, Model.PassCertificates, "Certificate", "- Select Certificate -")
    </div>
</div>

@if (!Model.IsNew)
{
    <div class="row">
        @(Html.TabStrip()
            .Name("projectTabs")
            .Items(tab => 
                {
                    tab.Add().Text("Fields").LoadContentFrom(Url.Action<PassProjectController>(a => a.TabFields(0), new { id = Model.PassProjectId })).Selected(true);
                    tab.Add().Text("Pass Templates").LoadContentFrom(Url.Action<PassProjectController>(a => a.TabPassContentTemplates(0), new { id = Model.PassProjectId }));
                }
            ))
    </div>
}